{% extends 'base.html' %}

{% block title %}Pet Listing{% endblock %}

{% block content %}
{% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
    {% endfor %}
<h1>Pets</h1>
<ul>
    {% for pet in pets %}
    <li>
        {% if pet.image_url %}
        <img src="{{ pet.image_url }}" alt="{{ pet.name }}">
        {% endif %}
        <h2>{{ pet.name }}</h2>
        <p>{{ pet.species }}, {{ pet.age }} years old</p>
        {% if pet.available %}
        <b>Available</b>
        {% endif %}
        <a href="/{{pet.id}}">Edit Pet</a>
    </li>
    {% endfor %}
</ul>
<a href="/add">Add Pet</a>
{% endblock %}








